---
layout: default
---
{%assign first_post_id = site.posts.first.id%}
{%assign linea = 0%}
{%assign linea2 = 0%}
{% for post in paginator.posts %}
  {% if first_post_id == post.id %}
    <div class="row">
    <article class="col-md-12">
      <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
      <small>{{ post.date | date_to_string }}</small>
      <div class="bs-callout bs-callout-primary text-justify">
        {{ post.content }}
       </div>
      </article>
    </div>
  {% else %}
    <article class="col-md-4 titular">
      <a href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
      <small>{{ post.date | date_to_string }}</small>
    </article>
  {% endif %}
{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="clearfix"></div>
  <nav class="row">
    <ul class="pager">
    {% if paginator.previous_page %}
      <li class="pull-left"><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="glyphicon glyphicon-chevron-left"></i> Entradas recientes</a></li>
    {% endif %}

    {% if paginator.next_page %}
      <li class="pull-right"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Entradas antiguas <i class="glyphicon glyphicon-chevron-right"></i></a></li>
    {% endif %}
    </ul>
  </nav>

{% endif %}
