---
layout: default
---
<article>
    <a href="{{ page.url | prepend: site.baseurl }}"><h2>{{ page.title }}</h2></a>
    <small>
    <ul class="list-inline">
        <label>Categorias:</label>
        {% for category in page.categories %}
        <li><a href="/categorias/#{{category | slugify}}">{{category | capitalize}}</a></li>
        {% endfor%}
    </ul>
    </small>
    <div class="bs-callout bs-callout-primary text-justify">
        {{ content }}
        <small class="pull-right">Fecha publicación <time>{{ page.date | date_to_string }}</time></small>
    </div>
    {% comment %}
    Ingredientes: <ul class="list-inline">
        {% for tag in page.tags %}
        <li>{{tag | capitalize}}</li>
        {% endfor%}
    </ul>
    {% endcomment%}
</article>


  <div class="clearfix"></div>
  <nav class="row">
    <ul class="pager">
    {% if page.previous.url %}
      <li class="pull-left"><a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}"><i class="glyphicon glyphicon-chevron-left"></i> {{page.previous.title}}</a></li>
    {% endif %}

    {% if page.next.url %}
      <li class="pull-right"><a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}">{{page.next.title}} <i class="glyphicon glyphicon-chevron-right"></i></a></li>
    {% endif %}
    </ul>
  </nav>

