---
layout: default
---
<article>
    <a href="{{ page.url | prepend: site.baseurl }}"><h2>{{ page.title }}</h2></a>
    <small>{{ page.date | date: "%-d/%-m/%Y" }}</small>
    Categorias: <ul class="list-inline">
        {% for category in page.categories %}
        <li>{{category | capitalize}}</li>
        {% endfor%}
    </ul>
    <div class="bs-callout bs-callout-primary text-justify">
        {{ content }}
    </div>
    Ingredientes: <ul class="list-inline">
        {% for tag in page.tags %}
        <li>{{tag | capitalize}}</li>
        {% endfor%}
    </ul>
</article>